name: 문서 체크

on:
  pull_request:
    paths:
      - "docs/**"
      - "*.md"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          globs: "**/*.md"
